@import '../styles/core';
@import './components/autodocs/autodocs';
@import './components/demo-block/demo-block';
@import './pages/colors-demo/colors-demo';
@import './pages/typography-demo/typography-demo';

body {
    overflow-x: hidden;
}

.top-bar {
    background-color: $gtx-color-primary;
    color: white;
    a.title {
        &, &:link {
            color: white;
        }
    }
    .gentics-logo {
        width: 32px;
        height: 38px;
        g {
            fill: white;
        }
    }
}

.menu-button {
    cursor: pointer;
}

.menu-content {
    background-color: white;
    > ul {
        margin: 50px 30px;
        font-size: 2em;
    }
}

gtx-contents-list-item {
    .item-avatar i {
        color: #8f8f8f;
    }
    i {
        color: #ccc;

    }

    .type-label {
        padding: 3px 5px;
        font-size: $gtx-font-size-small;
        border-radius: 3px;
        color: white;
        &.css {
            background-color: #d8d1b5;
        }
        &.component {
            background-color: #99bdd0;
        }
        &.service {
            background-color: #bc9f9f;
        }
    }
}

code, kbd, pre, samp {
    border-radius: 3px;
    background-color: #FBFBFB;
    padding: 2px 3px;
}

.split-view-container {
    .list-pane {
        background-color: lighten($gtx-color-secondary, 15%);
        .item-avatar {
            background-color: white;
        }
        a {
            cursor: pointer;
        }
    }
    .content-pane {
        padding: 0 20px 50px 20px;
    }
}
