@import '../styles/core';
@import './components/autodocs/autodocs';
@import './components/demo-block/demo-block';
@import './pages/colors-demo/colors-demo';
@import './pages/grid-demo/grid-demo';
@import './pages/typography-demo/typography-demo';

body {
    overflow-x: hidden;
}

.top-bar {
    background-color: $gtx-color-primary;
    color: white;
    a.title {
        &, &:link {
            color: white;
        }
    }
    .version-info {
        font-size: $gtx-font-size-lead;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 2px 5px;
        border-radius: 3px;
        font-weight: 300;
    }
    .gentics-logo {
        width: 32px;
        height: 38px;
        g {
            fill: white;
        }
    }
}

.menu-button {
    cursor: pointer;
}

.menu-content {
    background-color: white;
    > ul {
        margin: 50px 30px;
        font-size: 2em;
    }
}

gtx-contents-list-item {
    .item-avatar i {
        color: #8f8f8f;
    }

    .type-label {
        padding: 3px 5px;
        font-size: $gtx-font-size-small;
        border-radius: 3px;
        color: white;
        &.css {
            background-color: #d8d1b5;
        }
        &.component {
            background-color: #99bdd0;
        }
        &.service {
            background-color: #bc9f9f;
        }
    }
}

gtx-file-drop-area,
div[gtxFileDropArea] {
    & {
        background-color: $gtx-color-very-light-gray;
        border-radius: 6px;
        border: 3px solid transparent;
        display: block;
        padding-bottom: 1em;
        padding-top: 1em;
        max-width: 400px;
        text-align: center;
    }

    & ~ & {
        margin-top: 1em;
    }

    &.dragging-over {
        background-color: $gtx-color-mid-gray;
    }

    &.dragging-in-page {
        border-color: $gtx-color-primary;
    }
}

gtx-sortable-list[gtxFileDropArea] {
    border: 1px solid $gtx-color-very-light-gray;

    .filename {
        flex: 1;
        padding-left: 10px;
    }

    .filesize {
        align-self: right;
    }

    .placeholder {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.demo-result .outlined-block {
    margin-top: 1em;
    outline: 1px solid $gtx-color-light-gray;
    padding: 1em;
    width: 320px;
    width: max-content;
}

.log-table {
    display: inline-block;

    td, th {
        padding: 0 5px;
        font-family: monospace;
    }
}


code, kbd, pre, samp {
    border-radius: 3px;
    background-color: #FBFBFB;
    padding: 2px 3px;
}

.split-view-container {
    .list-pane {
        background-color: lighten($gtx-color-secondary, 15%);
        .item-avatar {
            background-color: white;
        }
        a {
            cursor: pointer;
        }
    }
    .content-pane {
        padding: 0 20px 50px 20px;
    }
}
