
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, -30px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


gtx-toast {
    display: block;
    cursor: default;
    > .gtx-toast {
        @extend .z-depth-3;
        position: absolute;
        display: inline-block;
        border-radius: 3px;
        top: 10px;
        right: 10px;
        margin-left: 10px;
        padding: 0.5rem 2rem;
        background-color: $gtx-color-off-black;
        color: $gtx-color-off-white;
        transition: transform 0.2s, opacity 0.2s;
        animation: fadeInRight 0.2s;
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.34), 0 3px 14px 2px rgba(0, 0, 0, 0.32), 0 5px 5px -3px rgba(0, 0, 0, 0.4);

        &.dismissing {
            opacity: 0;
        }

        > .message > .line {
            white-space: pre-wrap;
        }

        > .action {
            float: right;

            > button {
                background-color: transparent;
                border: none;
                border-radius: 2px;
                color: white;
                cursor: pointer;
                margin: -2px -5px 0 20px;
                padding: 2px 5px;
                text-transform: uppercase;
                transition: background-color 0.2s, color 0.2s;

                &:hover {
                    background-color: $gtx-color-primary;
                }
            }
        }

        &.success {
            background-color: $gtx-color-success;
            color: white;

            > .action > button:hover {
                background-color: white;
                color: $gtx-color-success;
            }
        }

        &.error {
            background-color: $gtx-color-alert;
            color: white;

            > .action > button:hover {
                background-color: white;
                color: $gtx-color-alert;
            }
        }

        &.warning {
            background-color: $gtx-color-warning;
            color: white;

            > .action > button:hover {
                background-color: white;
                color: $gtx-color-warning;
            }
        }

        .gtx-toast-btn_close {
            float: right;
            height: 1rem;
            margin-left: 1rem;
            margin-right: -1.3rem;
            cursor: pointer;
        }

    }
}
