
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, -30px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


gtx-toast {
    display: block;
    cursor: default;
    > .gtx-toast {
        @extend .z-depth-3;
        position: absolute;
        display: inline-block;
        border-radius: 3px;
        top: 10px;
        right: 10px;
        padding: 20px;
        background-color: $gtx-color-off-black;
        color: $gtx-color-off-white;
        transition: transform 0.2s, opacity 0.2s;
        animation: fadeInRight 0.2s;

        &.dismissing {
            opacity: 0;
        }

        &.success {
            background-color: $gtx-color-success;
            color: white;
        }

        &.error {
            background-color: $gtx-color-alert;
            color: white;
        }

        > .action {
            background-color: transparent;
            border: none;
            border-radius: 2px;
            margin-left: 20px;
            text-transform: uppercase;
            padding: 2px 5px;
            transition: background 0.2s;

            &:hover {
                background-color: $gtx-color-primary;
            }
        }
    }
}
