gtx-dropdown-list {
    display: inline-block;
}

gtx-dropdown-trigger {
    display: inline-block;
}

$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);

.dropdown-content-wrapper {
    a {
        @include noselect;
    }

    position: relative;
    transition: height 0.3s $easeOutCubic,
                top 0.3s $easeOutCubic,
                opacity 0.3s $easeOutSine;
    overflow: hidden;
    background-color: white;
    @extend .z-depth-1;
    z-index: 1002;
}

gtx-dropdown-content {
    background-color: white;
    margin: 0;
    display: block;
    min-width: 100px;
    overflow-y: auto;
    overflow-x: auto;
    opacity: 1;
    will-change: width, height;

    gtx-dropdown-item {
        display: block;
        clear: both;
        cursor: pointer;
        min-height: $dropdown-item-height;
        line-height: 1.5rem;
        width: 100%;
        text-align: left;
        text-transform: none;
        color: $gtx-color-primary;
        font-size: 16px;
        padding: (($dropdown-item-height - 22) / 2) 16px;
        white-space: nowrap;

        &:hover {
            outline-width: 0;
        }

        &:hover, &.active, &.selected {
            background-color: $dropdown-hover-bg-color;
        }

        &.active.selected {
            background-color: darken($dropdown-hover-bg-color, 5%);
        }

        &.divider {
            min-height: 0;
            height: 1px;
        }

        & > span > label {
            top: 1px;
            left: 3px;
            height: 18px;
        }

        // Icon alignment override
        > i,
        > icon {
            height: inherit;
            line-height: inherit;
        }
    }
}

gtx-scroll-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}
