gtx-dropdown-list {
    display: inline-block;
    //position: relative;
}

.dropdown-content-wrapper {
    a {
        @include noselect;
    }

    .dropdown-content {
        overflow: hidden;
        position: relative;
    }
}

.scroll-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
