$tab-active-icon: material-icons-content(map-get($material-icons-codepoints, 'adjust'));
$tab-inactive-icon: material-icons-content(map-get($material-icons-codepoints, 'panorama_fish_eye'));

@mixin is-active {
    border-left: 2px solid $gtx-tabs-active-border-color;
    border-right: 1px solid white;
    margin-right: -1px;
}

@mixin inline-ellipsis-text {
    overflow: hidden;
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin status-icon {
    content: $tab-active-icon;
    float: left;
    position: relative;
    margin-left: -1.47rem;
    margin-top: 0.3rem;
    width: 14px;
    height: 12px;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    display: inline-block;
    line-height: 1;
    background: white;
    border-radius: 50%;
    color: $gtx-color-light-gray;
    transition: color 0.2s;
}

@mixin status-icon-cross($color) {
    background: linear-gradient(to top right,
                    rgba($color, 0) 0%,
                    rgba($color, 0) calc(48% - 0.8px),
                    rgba($color, 1) 48%,
                    rgba($color, 0) calc(48% + 0.8px),
                    rgba($color, 0) 100%
                ), white;
}

gtx-grouped-tabs {
    width: 100%;
    display: block;

    .grouped-tabs {
        width: 25%;
        float: left;
        margin-right: 15px;

        gtx-tab-pane > .tab-content:not(.is-active) {
            display: none;
        }

        .collapsible {
            border: none;
            box-shadow: none;
            margin: 0;
            background: white;

            & > li {
                background: white;
                text-transform: uppercase;
                border-top: 1px solid $gtx-color-light-gray;
                margin-bottom: 0;
                position: relative;
                z-index: 1;

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: 1px solid $gtx-color-light-gray;
                }
            }

            .tab-link {
                @include noselect;
                cursor: pointer;
                text-transform: uppercase;
                color: $gtx-color-dark-gray;
                transition: border-left 0.3s, color 0.2s;
                border-right: 1px solid $gtx-color-light-gray;
                vertical-align: middle;
    
                > a {
                    @include inline-ellipsis-text;
    
                    &, &:link, &:visited {
                        color: inherit;
                    }
                }
    
                &.disabled > a {
                    cursor: default;
                }

                &.disabled {
                    background: $gtx-color-very-light-gray;
                }

                &.readonly > a {
                    font-style: italic;
                }

                &.statusIcon:before {
                    @include status-icon;
                }

                &.statusIcon.inactive:before {
                    content: $tab-inactive-icon;
                }

                &.statusIcon.is-active:before {
                    color: $gtx-tabs-active-border-color;
                }

                &.statusIcon.readonly:before {
                    @include status-icon-cross($gtx-color-light-gray);
                }

                &.statusIcon.readonly.is-active:before {
                    @include status-icon-cross($gtx-tabs-active-border-color);
                }
            }

            & > li.tab-link {
                cursor: pointer;
                line-height: 1.5;
                padding: 0.5rem;
                padding-left: 1rem;
                border-left: 2px solid $gtx-color-light-gray;
    
                &:hover {
                    color: $gtx-color-off-black;
                    background: #eef7fd;
                }
    
                &.is-active {
                    @include is-active;
                }
            }

            & > li.tab-group {
                border-left: 2px solid $gtx-color-light-gray;
    
                .collapsible-header {
                    border: none;
                    padding: 0.5rem 1rem;
                    color: $gtx-color-dark-gray;
                    border-right: 1px solid $gtx-color-light-gray;
                    @include inline-ellipsis-text;
                    @include noselect;

                    &:hover {
                        color: $gtx-color-off-black;
                    }
                }

                .collapsible-body {
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s ease 0.15s, opacity 0.10s ease-out 0.05s, max-height 0.15s ease-out;
                    padding: 0;
                    border: none;
                    z-index: 0;
                    position: relative;
                    overflow: hidden;

                    & > ul > li {
                        padding: 0.5rem 1rem;
                        padding-right: 0;
                        margin: 0;
                        margin-left: 1rem;
                        border-left: 2px solid $gtx-color-light-gray;
                        border-top: 1px solid $gtx-color-light-gray;
                        cursor: pointer;
                        background: white;

                        &.disabled {
                            background: $gtx-color-very-light-gray;
                        }

                        &:hover {
                            color: $gtx-color-off-black;
                        }

                        &.is-active {
                            @include is-active;
                        }

                        &.statusIcon:before {
                            float: none;
                        }

                        &.statusIcon > a {
                            position: relative;
                            margin-top: -26px;
                        }
                    }
                }
    
                &.is-active {
                    transition: border-left-color 0.2s;
                    border-left-color: rgba(0, 150, 220, 0.3);
                }

                &:hover {
                    .collapsible-body,
                    .collapsible-header {
                        background: #eef7fd;
                    }
                }
    
                &.expanded {
                    .collapsible-body {
                        visibility: visible;
                        opacity: 1;
                        transition: visibility 0s, opacity 0.15s ease-in 0.10s, max-height 0.25s ease-in;

                        & > ul > li.statusIcon:before {
                            float: left;
                        }

                        & > ul > li.statusIcon > a {
                            position: relative;
                            margin-top: 0;
                        }
                    }
                }
            }

            &.wrap-tab-title {
                .tab-link {
                    > a {
                        white-space: normal;
                    }
                }

                & > li.tab-group {            
                    .collapsible-header {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .grouped-tab-content {
        float: left;
        max-width: calc(75% - 15px);
    }
}
