<div class="input-field">
    <input
        [disabled]="disabled"
        [attr.max]="max"
        [attr.min]="min"
        [attr.maxlength]="maxlength"
        [name]="name"
        [attr.pattern]="pattern"
        [attr.placeholder]="placeholder"
        [readonly]="readonly"
        [required]="required"
        [attr.step]="step"
        [type]="type"

        [id]="id"
        [(ngModel)]="value"

        (blur)="onBlur($event)"
        (focus)="onFocus($event)"
        (input)="onChange($event)"

        #input
    >
    value: {{ value }}
    <label [attr.for]="id">{{ label }}</label>
</div>
