gtx-input {
    position: relative;
    display: block;

    @include input-label-styles('> label');

    > input[type=text],
    > input[type=number],
    > input[type=password] {
        @include input-base;

        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }

    &.ng-touched.ng-invalid {
        > input {
            border-color: $gtx-color-alert;
        }
    }
}
