gtx-input {
    position: relative;
    display: block;

    > label {
        position: absolute;
        top: 0;
        display: block;
        color: $gtx-color-dark-gray;
        transition: color 0.2s;
    }

    > input[type="text"],
    > input[type="number"],
    > input[type="password"] {
        @include input-base;

        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }

    &.ng-touched.ng-invalid {
        > input {
            border-color: $gtx-color-alert;
        }

        > label {
            color: $gtx-color-alert;
        }
    }
}
