gtx-side-menu {

    > .menu {
        @extend .z-depth-2;
        background-color: white;
        display: block;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        transform: translateX(-300px);
        @media #{$small-and-down} {
            width: 100vw;
            transform: translateX(-100vw);
        }
        transition: transform 0.3s;

        > .menu-content {
            opacity: 0;
            transition: opacity 0.5s;
        }

        > .toggle-button {
            float: right;
        }
    }

    > .side-menu-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.7s, width 0s 0.7s;
    }

    &.opened {
        > .menu {
            transform: translateX(0);

            > .menu-content {
                opacity: 1;
            }
        }

        > .side-menu-overlay {
            transition: opacity 0.7s;
            width: 100vw;
            opacity: 1;
        }
    }

}

gtx-side-menu-toggle-button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    transform: translateX(76px);
    transition: transform 0.3s;
    $width: 40px;

    @media #{$medium-and-down} {
        top: 0;
    }

    &:hover {
        > .bar {
            background: white;
        }
    }

    > .bar {
        @extend .z-depth-1;
        display: block;
        height: $width / 10;
        width: $width;
        background: $gtx-color-very-light-gray;
        margin: $width / 5 auto;
        transition: all .3s ease;
    }

    &.active {
        > .bar {
            @extend .z-depth-0;
            background: $gtx-color-primary;
        }
        transform: translateX(0);
        > .top {
            transform: translateY($width / 3.33) rotateZ(45deg);
        }
        > .bottom {
            transform: translateY(-$width / 3.33) rotateZ(-45deg);
        }
        > .middle {
            width: 0;
        }
    }
}
