gtx-side-menu {

    @extend .z-depth-2;
    background-color: white;
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translateX(-300px);
    transition: transform 0.3s;

    > .menu-content {
        margin-top: 50px;
        outline: 1px solid green;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &.opened {
        transform: translateX(0);

        > .menu-content {
            opacity: 1;
        }
    }

    > .toggle-button {
        float: right;
    }


}

gtx-side-menu-toggle-button {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    transform: translateX(76px);
    transition: transform 0.3s;
    $width: 40px;

    > .bar {
        display: block;
        height: $width / 10;
        width: $width;
        background: #2b2b2b;
        margin: $width / 5 auto;
        transition: all .3s ease;
    }

    &.active {
        transform: translateX(0);
        > .top {
            transform: translateY($width / 3.33) rotateZ(45deg);
        }
        > .bottom {
            transform: translateY(-$width / 3.33) rotateZ(-45deg);
        }
        > .middle {
            width: 0;
        }
    }
}
