<div class="side-menu-overlay"
     [@overlayState]="animationParams"
     (click)="close()"></div>

<div #toggleButton
     [@toggleState]="animationParams"
     (@toggleState.start)="animationStarted($event)"
     class="toggle-button"
     (click)="toggleState()">
    <ng-content select="gtx-side-menu-toggle"></ng-content>
</div>

<div class="menu"
     @menuState
     [style.width]="responsiveWidth"
     *ngIf="opened">
    <div [@contentState]="animationParams"
        class="menu-content">
        <ng-content></ng-content>
    </div>
</div>
