gtx-button {

    display: inline-block;
    user-select: none;

    button {
        &.btn {
            transition-property: color, border;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.btn:hover {
            @extend .z-depth-1;
        }

        &.small {
            font-size: $gtx-font-size-small;
            padding: 0 5px;
            height: 24px;
            line-height: 24px;
        }

        &.large {
            height: 54px;
            line-height: 56px;
        }

        icon[left],
        i.left {
            margin-right: 5px;
            float: left;
        }

        icon[right],
        i.right {
            margin-left: 5px;
            float: right;
        }
    }

    button[disabled] {
        opacity: 0.5;
    }

    button:not(.btn-flat) {

        // default (primary)
        background-color: $gtx-color-primary;
        border: 1px solid transparent;

        &:hover {
            background-color: lighten($gtx-color-primary, 5%);
        }

        &:active {
            @extend .z-depth-0;
            background-color: darken($gtx-color-primary, 10%);
        }

        &:focus {
            // background-color: darken($gtx-color-primary, 2%);
            border: 1px solid darken($gtx-color-primary, 10%);
        }

        &.secondary {
            background-color: lighten($gtx-color-secondary, 7%);
            color: $gtx-color-very-dark-gray;
            &:hover { background-color: lighten($gtx-color-secondary, 10%); }
            &:active { background-color: darken($gtx-color-secondary, 10%); }
            &:focus {
                // background-color: lighten($gtx-color-secondary, 2%);
                border: 1px solid darken($gtx-color-secondary, 8%);
            }
        }

        &.success {
            background-color: $gtx-color-success;
            &:hover { background-color: lighten($gtx-color-success, 7%); }
            &:active { background-color: darken($gtx-color-success, 10%); }
            &:focus {
                // background-color: darken($gtx-color-success, 2%);
                border: 1px solid darken($gtx-color-success, 15%);
            }
        }

        &.warning {
            background-color: $gtx-color-warning;
            &:hover { background-color: lighten($gtx-color-warning, 10%); }
            &:active { background-color: darken($gtx-color-warning, 10%); }
            &:focus {
                // background-color: darken($gtx-color-warning, 2%);
                border: 1px solid darken($gtx-color-warning, 15%);
            }
        }

        &.alert {
            background-color: $gtx-color-alert;
            &:hover { background-color: lighten($gtx-color-alert, 10%); }
            &:active { background-color: darken($gtx-color-alert, 10%); }
            &:focus {
                // background-color: darken($gtx-color-alert, 2%);
                border: 1px solid darken($gtx-color-alert, 20%);
            }
        }
    }

    button.btn-flat {
        border: 1px solid transparentize($gtx-color-primary, 0.8);
        color: darken($gtx-color-primary, 20%);

        &:hover, &:active {
            box-shadow: none;
            background-color: transparentize($gtx-color-primary, 0.9);
        }

        &:active {
            background-color: transparentize($gtx-color-primary, 0.6);
        }

        &:focus {
            border: 1px solid transparentize($gtx-color-primary, 0.3);
        }

        &:focus:not(:hover) {
            background: none;
        }

        &.secondary {
            color: $gtx-color-dark-gray;
            border-color: transparentize($gtx-color-secondary, 0.7);
            &:hover { background-color: transparentize($gtx-color-secondary, 0.5); }
            &:active { background-color: transparentize($gtx-color-secondary, 0.1); }
            &:focus { border: 1px solid transparentize($gtx-color-secondary, 0); }
        }

        &.success {
            color: darken($gtx-color-success, 10%);
            border-color: transparentize($gtx-color-success, 0.75);
            &:hover { background-color: transparentize($gtx-color-success, 0.8); }
            &:active { background-color: transparentize($gtx-color-success, 0.5); }
            &:focus { border: 1px solid transparentize($gtx-color-success, 0.2); }
        }

        &.warning {
            color: darken($gtx-color-warning, 10%);
            border-color: transparentize($gtx-color-warning, 0.75);
            &:hover { background-color: transparentize($gtx-color-warning, 0.9); }
            &:active { background-color: transparentize($gtx-color-warning, 0.6); }
            &:focus { border: 1px solid transparentize($gtx-color-warning, 0.2); }
        }

        &.alert {
            color: darken($gtx-color-alert, 10%);
            border-color: transparentize($gtx-color-alert, 0.75);
            &:hover { background-color: transparentize($gtx-color-alert, 0.9); }
            &:active { background-color: transparentize($gtx-color-alert, 0.6); }
            &:focus { border: 1px solid transparentize($gtx-color-alert, 0.2); }
        }
    }

    button.btn-flat.btn-icon {
        padding: 0;
        border: 1px solid transparent;
        background: none !important;

        &.small {
            height: 18px;
            line-height: 16px;

            > icon,
            > i {
                font-size: 16px;
            }
        }

        &.regular {
            height: 26px;
            line-height: 24px;

            > icon,
            > i {
                font-size: 24px;
            }
        }

        &.large {
            height: 44px;
            line-height: 42px;

            > icon,
            > i {
                font-size: 42px;
            }
        }

        &:hover {
            color: darken($gtx-color-primary, 5%);
        }

        &:active {
            color: darken($gtx-color-primary, 25%);
        }

        &:focus {
            border-color: transparentize($gtx-color-primary, 0.8);
        }

        &.secondary {
            color: $gtx-color-dark-gray;
            &:hover { color: transparentize($gtx-color-dark-gray, 0.2); }
            &:active { color: darken($gtx-color-dark-gray, 10%); }
            &:focus { border-color: transparentize($gtx-color-secondary, 0.6); }
        }

        &.success {
            color: darken($gtx-color-success, 10%);
            &:hover { color: transparentize($gtx-color-success, 0.1); }
            &:active { color: darken($gtx-color-success, 15%); }
            &:focus { border-color: transparentize($gtx-color-success, 0.8); }
        }

        &.warning {
            color: darken($gtx-color-warning, 10%);
            &:hover { color: transparentize($gtx-color-warning, 0.1); }
            &:active { color: darken($gtx-color-warning, 15%); }
            &:focus { border-color: transparentize($gtx-color-warning, 0.8); }
        }

        &.alert {
            color: darken($gtx-color-alert, 10%);
            &:hover { color: $gtx-color-alert; }
            &:active { color: darken($gtx-color-alert, 15%); }
            &:focus { border-color: transparentize($gtx-color-alert, 0.9); }
        }
    }
}
