gtx-textarea {
    position: relative;
    display: block;

    @include input-label-styles('> label');

    > textarea.materialize-textarea {
        @include input-base;
        min-height: 2.5rem;
        line-height: 1.5;
        overflow-y: auto;
    }

    &.ng-touched.ng-invalid > textarea.materialize-textarea {
        border-color: $gtx-color-alert;
    }
}
