gtx-textarea {
    position: relative;
    display: block;

    > label {
        position: absolute;
        top: 0;
        display: block;
        color: $gtx-color-dark-gray;
        transition: color 0.2s;
    }

    > textarea.materialize-textarea {
        box-sizing: border-box;
        margin-top: 20px;
        border: 2px solid $gtx-color-light-gray;
        border-radius: 3px;
        height: 2.5rem;
        padding: 5px;
        transition: border 0.2s, height 0.1s;

        &:focus:not([readonly]) {
            border: 2px solid $gtx-color-primary;
            box-shadow: none;

            & + label {
                color: $gtx-color-primary;
            }
        }

        &[readonly] {
            color: lighten($gtx-color-dark-gray, 10%);
        }

        &[disabled] {
            background-color: $gtx-color-off-white;
            color: $gtx-color-mid-gray;
            border: 2px solid $gtx-color-light-gray;

            & + label {
                color: $gtx-color-dark-gray;
            }
        }
    }
}
