gtx-textarea {
    position: relative;
    display: block;

    > label {
        position: absolute;
        top: 0;
        display: block;
        color: $gtx-color-dark-gray;
        transition: color 0.2s;
    }

    > textarea.materialize-textarea {
        @include input-base;
        min-height: 2.5rem;
        line-height: 1.5;
        overflow-y: auto;
    }

    &.ng-touched.ng-invalid {
        > textarea.materialize-textarea {
            border-color: $gtx-color-alert;
        }

        > label {
            color: $gtx-color-alert;
        }
    }
}
