<textarea
    class="materialize-textarea"
    [attr.id]="id"
    [attr.maxlength]="maxlength"
    [attr.name]="name"
    [attr.pattern]="pattern"
    [attr.placeholder]="placeholder"
    [attr.validationErrorTooltip]="validationErrorTooltip"

    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"

    (blur)="onBlur($event)"
    (change)="onChangeEvent($event)"
    (focus)="onFocus($event)"
    (input)="onInput($event)"

    #textarea
></textarea>
<label [attr.for]="id">{{ label }}</label>
