<ul class="tab-links" [class.vertical]="verticalTabs" [class.wrap]="tabsShouldWrap">
    <li class="tab-link" role="presentation"
            *ngFor="let tab of tabs"
            [title]="tab.title"
            (click)="selectTab(tab)"
            [ngClass]="{
                disabled: tab.disabled,
                'is-active': tab.active,
                'has-icon': !!tab.icon,
                'icon-only': tab.icon && !tab.title
            }">
        <a role="tab" *ngIf="tab.routerLink && !tab.disabled" [routerLink]="tab.routerLink"
            ><icon *ngIf="tab.icon">{{tab.icon}}</icon>{{ tab.title }}</a>
        <a role="tab" *ngIf="!tab.routerLink || tab.disabled"
            ><icon *ngIf="tab.icon">{{tab.icon}}</icon>{{ tab.title }}</a>
    </li>
</ul>
<ng-content></ng-content>
