gtx-tabs {

    width: 100%;
    display: block;

    > .tab-links {
        margin: 0;
        list-style-type: none;
        border-bottom: 1px solid $gtx-color-very-light-gray;
        text-transform: uppercase;
        display: flex;

        &.wrap {
            flex-wrap: wrap;
        }

        &.vertical {
            display: block;
            margin-right: 25px;
            float: left;
            width: 20%;
            max-width: 200px;

            > .tab-link {
                    width: 100%;
                    border-bottom: 1px dotted #efefef;
                    padding: 19px 5px;
                    min-height: 63px;

                    > a {
                        padding: 0;
                        white-space: normal;
                    }

                    &:hover {
                        background-color: #eee;
                    }

                    &:active {
                        background-color: #D3D3D3;
                    }

                    &.is-active {
                        background-color: #fff;
                        border-left: 3px solid #0096DC;
                        border-bottom-color: #efefef;
                    }
            }
        }

        > .tab-link {
            @include noselect;
            display: inline-block;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            color: $gtx-color-dark-gray;
            transition: border 0.3s, color 0.2s;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;

            &:hover {
                color: $gtx-color-off-black;
            }

            > a {
                padding: 10px 20px;
                white-space: nowrap;

                &, &:link, &:visited {
                    color: inherit;
                }
            }

            &.is-active {
                border-bottom-color: $gtx-tabs-active-border-color;
                color: $gtx-tabs-active-color;
            }

            &.disabled > a {
                cursor: default;
            }

            icon {
                font-size: 1.4285em;
                margin-top: -2px;
                vertical-align: middle;
            }

            &:not(.icon-only) icon {
                margin-right: 0.5em;
            }
        }
    }

    gtx-tab > .tab-content:not(.is-active) {
        display: none;
    }
}
