gtx-autodocs {
    // reset the overridden list styles
    ul {
        list-style-type: disc;
        padding-left: 26px;
        li {
            list-style-type: inherit;
        }
    }

    display: block;
    margin-bottom: 60px;

    table td, table th {
        padding: 5px 3px;
    }

    $bg-color: desaturate(darken($gtx-color-secondary, 20%), 10%);

    .autodoc-section {
        border: 1px solid $bg-color;
        margin-top: 20px;
        margin-bottom: 40px;
        h6 {
            background-color: $bg-color;
            color: white;
            padding: 10px;
            margin-top: 0;
            border-bottom: 1px solid $bg-color;
        }
    }
}

gtx-autodoc-table {
    display: block;
    overflow-x: auto;

    th {
        min-width: 110px;
    }

    tr {
        td:first-child, th:first-child {
            padding-left: 10px;
        }
        td:last-child, th:last-child {
            padding-right: 10px;
        }
    }

    table.highlight > tbody > tr:last-child {
        border-bottom: none;
    }

    .identifier {

    }

    .block-body *:first-child {
        margin-top: 0;
    }
    .block-body *:last-child {
        margin-bottom: 0;
    }

    .type, .default-value {
        display: inline-block;
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .type {
        background-color: lighten($gtx-color-primary, 50%);
    }
}
