<h4>Modal</h4>

<p>
    The modal component reacts to the value of <code>opened</code> to control whether or not the modal is displayed.
    When the modal is closed, the <code>close</code> event will fire.
</p>

<gtx-button (click)="showModal = !showModal">Open Modal</gtx-button>

<gtx-modal [opened]="showModal" (close)="showModal = false" #modal>
    <h4>I'm a modal!</h4>
    <p>Here is my content</p>
    <gtx-modal-footer>
        <gtx-button (click)="modal.closeModal()">Close</gtx-button>
    </gtx-modal-footer>
</gtx-modal>
