$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';

@import '~material-design-icons-iconfont/src/material-design-icons';

icon {
    @extend .material-icons;
}

icon[left] {
    float: left;
    margin-right: 15px;
}

icon[right] {
    float: right;
    margin-left: 15px;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    icon {
        font-size: 1.3rem;
        line-height: inherit;
    }
}
