/* disable text selection on the element */
@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                   not supported by any browser */
}

/* Define font sizes that react to smaller screens */
@mixin responsive-font-size($base-size) {
    @media only screen and (min-width: 0) {
        font-size: $base-size - 2;
    }

    @media only screen and (min-width: $medium-screen) {
        font-size: $base-size - 1;
    }

    @media only screen and (min-width: $large-screen) {
        font-size: $base-size;
    }
}
