/* Materialize CSS changed variables compatibility variables */
$button-font-size: 1rem !default;
$button-padding: 0 2rem !default;
$card-padding: 20px !default;
$input-font-size: 1rem !default;
$h6-fontsize: 1rem !default;
