/* Typography */
$gtx-font-size-lead: 18px !default;
$gtx-font-size-regular: 16px !default;
$gtx-font-size-small: 12px !default;
$gtx-heading-font-weight: 400;


/* Colors */
$gtx-color-off-white: #f5f5f5 !default;
$gtx-color-very-light-gray: #efefef !default;
$gtx-color-light-gray: #d6d6d6 !default;
$gtx-color-mid-gray: #b5b5b5 !default;
$gtx-color-dark-gray: #797979 !default;
$gtx-color-very-dark-gray: #3d3d3d !default;
$gtx-color-off-black: #222 !default;

$gtx-color-primary: #0096DC !default;
$gtx-color-secondary: #d3d5c5 !default;
$gtx-color-success: #449d44 !default;
$gtx-color-warning: #ec971f !default;
$gtx-color-alert: #c9302c !default;

// Now we use our colors defined above to override the Materialize variables
$primary-color: $gtx-color-light-gray;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: $gtx-color-primary;
$success-color: $gtx-color-success;
$error-color: $gtx-color-alert;
$link-color: $gtx-color-primary;

/* Other */
$gtx-animation-duration: 300ms !default;


/* Component-specific variables */
$gtx-breadcrumbs-animation-duration: $gtx-animation-duration !default;
$gtx-breadcrumbs-background-color: $gtx-color-primary !default;
$gtx-breadcrumbs-active-color: white !default;
$gtx-breadcrumbs-inactive-color: $gtx-color-off-white !default;
$gtx-breadcrumbs-disabled-background-color: grayscale($gtx-color-primary) !default;
$gtx-breadcrumbs-disabled-active-color: $gtx-color-light-gray !default;
$gtx-breadcrumbs-disabled-inactive-color: transparentize($gtx-color-light-gray, 0.3) !default;

$gtx-progress-bar-animation-duration: $gtx-animation-duration !default;
$gtx-progress-bar-background-color: transparent !default;
$gtx-progress-bar-color: $gtx-color-primary !default;
$gtx-progress-bar-fade-duration: ($gtx-animation-duration / 2) !default;
$gtx-progress-bar-height: 3px !default;

$gtx-split-view-container-animation-duration: $gtx-animation-duration !default;
$gtx-split-view-container-focus-switcher-background-color: rgba(255, 255, 255, 0.5) !default;
$gtx-split-view-container-focus-switcher-background-hover-color: rgba(0, 0, 0, 0.0001) !default;
$gtx-split-view-container-focus-switcher-icon: 'chevron_left' !default;
$gtx-split-view-container-focus-switcher-icon-color: rgba($gtx-color-primary, 0.5) !default;
$gtx-split-view-container-focus-switcher-icon-hover-color: $gtx-color-primary !default;
$gtx-split-view-container-opacity-focused: 1 !default;
$gtx-split-view-container-opacity-inactive: 0.66 !default;
$gtx-split-view-container-opacity-hidden: 0 !default;
$gtx-split-view-container-resize-drag-color: rgba(0,64,192,0.25) !default;
$gtx-split-view-container-resize-handle-color: lightgray !default;
$gtx-split-view-container-resize-handle-width: 10px !default;
$gtx-split-view-container-global-resize-cursor: true !default;

$gtx-tabs-active-color: $gtx-color-primary !default;
$gtx-tabs-active-border-color: $gtx-color-primary !default;
