/* Materialize CSS changed variables compatibility variables */
$button-font-size: 1rem !default;
$button-padding: 0 2rem !default;
$card-padding: 20px !default;
$input-font-size: 1rem !default;
$h6-fontsize: 1rem !default;
$input-border: 2px solid #d6d6d6;
$input-height: 2.5rem;
$input-padding: 5px;
$input-transition: all .3s !default;
$input-margin: 0 0 20px 0 !default;