/* Typography */
$gtx-font-size-lead: 18px !default;
$gtx-font-size-regular: 16px !default;
$gtx-font-size-small: 12px!default;
$gtx-heading-font-weight: 400;


/* Colors */
$gtx-color-off-white: #f5f5f5 !default;
$gtx-color-very-light-gray: #efefef !default;
$gtx-color-light-gray: #d6d6d6 !default;
$gtx-color-mid-gray: #b5b5b5 !default;
$gtx-color-dark-gray: #797979 !default;
$gtx-color-very-dark-gray: #3d3d3d !default;
$gtx-color-off-black: #222 !default;

$gtx-color-primary: #0096DC !default;
$gtx-color-secondary: $gtx-color-light-gray !default;
$gtx-color-success: #449d44 !default;
$gtx-color-warning: #ec971f !default;
$gtx-color-alert: #c9302c !default;

// Now we use our colors defined above to override the Materialize variables
$primary-color: $gtx-color-light-gray;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: $gtx-color-primary;
$success-color: $gtx-color-success;
$error-color: $gtx-color-alert;
$link-color: $gtx-color-primary;

/* Other */
$gtx-animation-duration: 300ms !default;


/* Component-specific variables */
$gtx-split-view-container-animation-duration: $gtx-animation-duration !default;
$gtx-split-view-container-opacity-focused: 1 !default;
$gtx-split-view-container-opacity-inactive: 0.66 !default;
$gtx-split-view-container-opacity-hidden: 0 !default;
$gtx-split-view-container-resize-drag-color: rgba(0,64,192,0.25) !default;
$gtx-split-view-container-resize-handle-color: lightgray !default;
$gtx-split-view-container-resize-handle-width: 10px !default;
$gtx-split-view-container-global-resize-cursor: true !default;
