/**
 * This is the main GUIC styles file. It should be imported once
 * by any app that consumes GUIC.
 */

//  @import "node_modules/font-awesome/scss/font-awesome";

$icons-font-path: '../fonts/' !default;
$roboto-font-path: '../fonts/' !default;
@import "variables";
@import "mixins";
@import "materialize";
@import "primeng";
@import "icons";
@import "grid";

/* Components */
@import "../components/breadcrumbs/breadcrumbs";
@import "../components/button/button";
@import "../components/contents-list-item/contents-list-item";
@import "../components/date-time-picker/date-time-picker";
@import "../components/date-time-picker/date-time-picker-controls";
@import "../components/dropdown-list/dropdown-list";
@import "../components/file-picker/file-picker";
@import "../components/input/input";
@import "../components/menu-toggle-button/menu-toggle-button";
@import "../components/modal/modal";
@import "../components/notification/notification";
@import "../components/progress-bar/progress-bar";
@import "../components/range/range";
@import "../components/search-bar/search-bar";
@import "../components/side-menu/side-menu";
@import "../components/select/select";
@import "../components/sortable-list/sortable-list";
@import "../components/split-view-container/split-view-container";
@import "../components/tabs/tabs";
@import "../components/textarea/textarea";
@import "../components/top-bar/top-bar";
@import "../components/tree/tree";

html {
    font-weight: normal;
    color: $off-black;
    @include responsive-font-size($gtx-font-size-regular);
}

hr {
    box-sizing: content-box;
    height: 1px;
    background-color: $gtx-color-mid-gray;
    border: 0;
    margin: 40px 0;
}

strong {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $gtx-heading-font-weight;
    line-height: 1.1;
    &.heading-light {
        font-weight: 300;
    }
}

.lead {
    @include responsive-font-size($gtx-font-size-lead);
}
