gtx-select {
    position: relative;
    display: block;

    .select-wrapper {
        padding-top: 20px;

        input.select-dropdown {
            @extend .input-base;
            padding: 0 5px;
            line-height: 1rem;
            margin-top: 0;

            &[readonly] {
                color: $gtx-color-very-dark-gray;
                text-overflow: ellipsis;
            }
        }

        span.caret {
            top: 33px;
            right: 8px;
        }

        & + label {
            top: 1px;
            left: 0;
            color: $gtx-color-dark-gray;
        }
    }
}
