gtx-select {
    display: flex;
    position: relative;
    margin: 0 0 20px 0;
    flex-wrap: nowrap;

    gtx-dropdown-list {
        display: block;
        width: 100%;

        gtx-dropdown-trigger {
            width: 100%;
        }

        .with-label {
            margin-top: 19px;
        }
    }

    .view-value {
        @include input-base;
        cursor: pointer;
        display: flex;
        margin-top: 1px;
        user-select: none;

        > div {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    @include input-label-styles;

    &.ng-touched.ng-invalid .view-value {
        border-color: $gtx-color-alert;
    }
}

gtx-dropdown-content {
    ul.select-options {
        margin: 0;

        li.group-label {
            padding: 10px;
            color: $gtx-color-dark-gray;
            padding: 0 6px;
            font-size: $gtx-font-size-small;
            text-transform: uppercase;

            &:first-child {
                padding-top: (($dropdown-item-height - 22) / 2);
            }
        }

        li.select-option {
            display: flex;
            clear: both;
            cursor: pointer;
            min-height: $dropdown-item-height;
            line-height: 1.5rem;
            width: 100%;
            text-align: left;
            text-transform: none;
            color: $gtx-color-primary;
            font-size: 16px;
            padding: (($dropdown-item-height - 22) / 2) 16px;
            user-select: none;

            > * {
                user-select: text; // IE11
                user-select: initial;
            }

            gtx-checkbox {
                flex-shrink: 1;
            }

            &:hover {
                outline-width: 0;
            }

            &:hover,
            &.active,
            &.selected {
                background-color: $dropdown-hover-bg-color;
            }

            &.active.selected {
                background-color: darken($dropdown-hover-bg-color, 5%);
            }

            &.disabled {
                color: $gtx-color-mid-gray;
            }

            &.divider {
                min-height: 0;
                height: 1px;
            }

            & > span > label {
                top: 1px;
                left: 3px;
                height: 18px;
            }

            // Icon alignment override
            > i,
            > icon {
                height: inherit;
                line-height: inherit;
            }
        }
    }
}

gtx-dropdown-list {
    &.clearable .view-value {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right-width: 1px;
    }
}

.clear-button {
    flex: 0 0 auto;
    height: 40px;
    padding: 0 5px;
    display: block;
    position: relative;
    transition: 200ms;
    cursor: pointer;
    user-select: none;
    border: none;
    background: $gtx-color-very-light-gray;
    color: $gtx-color-dark-gray;
    border: 2px solid $gtx-color-light-gray;
    border-right: none;
    border-left-width: 1px;
    margin: 20px 0 0 0;

    &:last-child {
        border-right: 2px solid $gtx-color-light-gray;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &:not([disabled]) {
        &:hover,
        &:focus {
            background: $gtx-color-alert;
            border-color: $gtx-color-alert;
            color: $gtx-color-off-white;
        }
    }

    &[disabled] {
        &,
        &:hover,
        &:focus {
            background: $gtx-color-very-light-gray;
            cursor: not-allowed;
        }
    }

    icon {
        display: block;
    }
}
