<div>
    <input type="radio"
           [attr.id]="id"
           [attr.name]="name"
           [checked]="checked"
           [disabled]="disabled"
           [readonly]="readonly"
           [required]="required"
           [value]="value"

           (blur)="onBlur()"
           (focus)="onFocus()"
           (change)="onInputChecked($event, input)"

           [class.tabbed]="tabbedFocus"

           #input
    >
    <label [attr.for]="id" (click)="input.focus()">{{ label }}</label>
</div>
