<div class="slideable"
    [class.hasRightPanel]="rightPanelVisible"
    [class.hasNoRightPanel]="!rightPanelVisible"
    [class.focusedRight]="focusedPanel == 'right'"
    [class.focusedLeft]="focusedPanel == 'left'">

    <div class="left-panel" (click)="leftPanelClicked()">
        <ng-content select="[left]"></ng-content>
    </div>

    <div class="right-panel" (click)="rightPanelClicked()">
        <ng-content select="[right]"></ng-content>
    </div>

    <div class="focus-switcher-right" (click)="rightPanelClicked()"></div>
    <div class="focus-switcher-left" (click)="leftPanelClicked()"></div>

</div>
