$gtx-split-view-container-peek-size: 10% !default;

gtx-split-view-container {
    box-sizing: border-box;

    & > .slideable {
        @extend .container;
        display: flex;
        position: relative;
        height: 100%;

        & > .left-panel,
        & > .right-panel {
            //align-items: stretch;
            flex: auto;
            border: 1px solid #e00;
            height: 100%;
            min-width: 20px;
            transition: opacity $gtx-animation-duration,
                        padding $gtx-animation-duration,
                        transform $gtx-animation-duration,
                        width $gtx-animation-duration,
                        min-width $gtx-animation-duration,
                        max-width $gtx-animation-duration;
            white-space: normal;
        }
    }

    & > .hasNoRightPanel > .right-panel {
        opacity: 0;
    }

    & > .hasRightPanel > .right-panel,
    & > .focusedRight > .left-panel {
        opacity: 0.66;
    }

    & > .focusedRight > .right-panel {
        opacity: 1;
    }

    // Definitions for "small", sliding breakpoint
    @media only screen and (max-width : $large-screen) {
        & > .slideable {
            overflow-x: hidden;

            > .left-panel,
            > .right-panel {
                min-width: 90%;
                max-width: 90%;
            }
        }

        & > .hasRightPanel > .right-panel {
            transform: translateX(1%);
        }

        & > .focusedRight > .left-panel {
            transform: translateX(-90%);
        }

        & > .focusedRight > .right-panel {
            transform: translateX(-89%);
        }

        & > .hasNoRightPanel > .left-panel {
            min-width: 100%;
            max-width: 100%;
        }

        & > * > .focus-switcher-left,
        & > * > .focus-switcher-right {
            position: absolute;
            top: 0;
            bottom: 0;
            // Fix click events in IE
            background: rgba(0,0,0,0.00001);
            width: 9%;
            z-index: 1;
            outline: 1px solid blue;
        }

        & > .focusedRight > .focus-switcher-left {
            display: block;
            left: 0;
        }

        & > .focusedLeft.hasRightPanel > .focus-switcher-right {
            display: block;
            right: 0;
        }
    }

    // Definitions for "large", non-sliding breakpoint
    @media only screen and (min-width : $large-screen-up) {



        // > .right-panel {
        //         width: 0%;
        //     }
        // }

        // &.hasContent > .slideable {
        //     > .left-panel {
        //         padding-right: $gtx-split-view-container-spacing / 2;
        //         width: 50%;
        //     }

        //     > .right-panel {
        //         padding-left: $gtx-split-view-container-spacing / 2;
        //         width: 50%;
        //     }
        // }

        & > .focus-switcher-left,
        & > .focus-switcher-right {
            display: none;
        }
    }
}
