<div class="split-button-wrapper z-depth-1">

    <gtx-button
            [autofocus]="autofocus"
            [size]="size"
            [type]="type"
            [flat]="flat"
            [disabled]="disabled"
            [class.has-secondary-actions]="secondaryActions.length > 0">
        <ng-content select="gtx-split-button-primary-action"></ng-content>
    </gtx-button>

    <gtx-dropdown-list *ngIf="secondaryActions.length > 0">
        <gtx-dropdown-trigger>
            <gtx-button class="more-trigger"
                    [size]="size"
                    [type]="type"
                    [flat]="flat"
                    [disabled]="disabled">
                <icon>arrow_drop_down</icon>
            </gtx-button>
        </gtx-dropdown-trigger>
        <gtx-dropdown-content>
            <ng-content select="gtx-dropdown-item"></ng-content>
        </gtx-dropdown-content>
    </gtx-dropdown-list>

</div>
