<gtx-input [value]="displayValue"
           [label]="label"
           (click)="!_disabled && !_readonly && showModal()"
           (keydown)="handleEnterKey($event)"
           (blur)="onTouched()"
           [disabled]="_disabled"
           [readonly]="true"
           [class.clearable]="_clearable"></gtx-input>
<gtx-button icon
    class="clear-button"
    *ngIf="_clearable"
    type="secondary"
    [disabled]="_disabled"
    (click)="!_disabled && !_readonly && clearDateTime()">
    <icon>clear</icon>
</gtx-button>

