<gtx-date-time-picker-controls [timestamp]="timestamp"
                               [displayTime]="displayTime"
                               [displaySeconds]="displaySeconds"
                               [formatProvider]="formatProvider"
                               [min]="min"
                               [max]="max"
                               [selectYear]="selectYear"
                               (change)="valueTimestamp = $event"></gtx-date-time-picker-controls>
<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="cancelFn()">{{ formatProvider.strings.cancel }}</gtx-button>
    <gtx-button (click)="okayClicked()">{{ formatProvider.strings.okay }}</gtx-button>
</div>
