gtx-date-time-picker > gtx-input > input:not(:disabled) {
    &[type="text"] {
        color: inherit;
    }

    &, & + label {
        cursor: pointer;
    }

    &.ng-touched.ng-invalid {
        input {
            border-color: $gtx-color-alert;
        }

        label {
            color: $gtx-color-alert;
        }
    }
}
