gtx-date-time-picker > gtx-input > input:not(:disabled) {
    &[type="text"] {
        color: inherit;
    }

    &,
    & + label {
        cursor: pointer;
    }

    &.ng-touched.ng-invalid {
        input {
            border-color: $gtx-color-alert;
        }

        label {
            color: $gtx-color-alert;
        }
    }
}

gtx-date-time-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gtx-input {
        flex: 1 1 auto;

        &.clearable {
            input {
                border-right-width: 1px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .clear-button {
        flex: 0 0 auto;
        height: 40px;
        padding: 0 5px;
        display: block;
        position: relative;
        transition: 200ms;
        cursor: pointer;
        user-select: none;
        border: none;
        background: $gtx-color-very-light-gray;
        color: $gtx-color-dark-gray;
        border: 2px solid $gtx-color-light-gray;
        border-right: none;
        border-left-width: 1px;
        margin: 20px 0;

        &:last-child {
            border-right: 2px solid $gtx-color-light-gray;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &:not([disabled]) {
            &:hover,
            &:focus {
                background: $gtx-color-alert;
                border-color: $gtx-color-alert;
                color: $gtx-color-off-white;
            }
        }

        &[disabled] {
            &,
            &:hover,
            &:focus {
                background: $gtx-color-very-light-gray;
                cursor: not-allowed;
            }
        }

        icon {
            display: block;
        }
    }
}
