<div class="modal-header">
    <div class="day">{{ value.format('dddd') }}</div>
    <div class="year" *ngIf="dateOrder === 'ymd'">{{ value.format('YYYY') }}</div>
    <div class="month" *ngIf="dateOrder !== 'dmy'">{{ value.format('MMM') }}</div>
    <div class="date">{{ value.format('D') }}</div>
    <div class="month" *ngIf="dateOrder === 'dmy'">{{ value.format('MMM') }}</div>
    <div class="year" *ngIf="dateOrder !== 'ymd'">{{ value.format('YYYY') }}</div>
</div>
<div class="modal-content">
    <div #calendarContainer class="calendar-container"></div>
    <div class="time-picker" *ngIf="displayTime">
        <div class="row">
            <div class="column" [ngClass]="displaySeconds ? 'small-4' : 'small-6'">
                <button class="increment-button" (click)="incrementTime('hours')"><i class="material-icons">arrow_drop_up</i></button>
                <gtx-input [(ngModel)]="time.h"
                            [label]="formatProvider.strings.hours"
                            (blur)="updateTime('hours', time.h)"
                            (keydown)="timeKeyHandler('hours', $event)"
                            type="number"
                            min="0"
                            max="23"></gtx-input>
                <button class="increment-button" (click)="decrementTime('hours')"><i class="material-icons">arrow_drop_down</i></button>
            </div>
            <div class="column" [ngClass]="displaySeconds ? 'small-4' : 'small-6'">
                <button class="increment-button" (click)="incrementTime('minutes')"><i class="material-icons">arrow_drop_up</i></button>
                <gtx-input [(ngModel)]="time.m"
                            [label]="formatProvider.strings.minutes"
                            (blur)="updateTime('minutes', time.m)"
                            (keydown)="timeKeyHandler('minutes', $event)"
                            type="number"
                            min="0"
                            max="59"></gtx-input>
                <button class="increment-button" (click)="decrementTime('minutes')"><i class="material-icons">arrow_drop_down</i></button>
            </div>
            <div class="column small-4" *ngIf="displaySeconds">
                <button class="increment-button" (click)="incrementTime('seconds')"><i class="material-icons">arrow_drop_up</i></button>
                <gtx-input [(ngModel)]="time.s"
                            [label]="formatProvider.strings.seconds"
                            (blur)="updateTime('seconds', time.s)"
                            (keydown)="timeKeyHandler('seconds', $event)"
                            type="number"
                            min="0"
                            max="59"></gtx-input>
                <button class="increment-button" (click)="decrementTime('seconds')"><i class="material-icons">arrow_drop_down</i></button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="cancelFn()">{{ formatProvider.strings.cancel }}</gtx-button>
    <gtx-button (click)="okayClicked()">{{ formatProvider.strings.okay }}</gtx-button>
</div>
