.top-bar {
    background-color: #eee;
    i {
        font-size: 48px;
        color: gray;
    }
}

.menu-button {
    cursor: pointer;
}

.menu-content {
    background-color: white;
    > ul {
        margin: 50px 30px;
        font-size: 2em;
    }
}
