.top-bar {
    background-color: #eee;
    i {
        font-size: 48px;
        color: gray;
    }
}

.menu-button {
    cursor: pointer;
}

.menu-content {
    background-color: white;
    > ul {
        margin: 50px 30px;
        font-size: 2em;
    }
}

gtx-contents-list-item {
    .item-avatar i {
        color: #8f8f8f;
    }
    i {
        color: #ccc;

    }
}

code, kbd, pre, samp {
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    background-color: #FBFBFB;
    padding: 2px 3px;
}

.split-view-container {
    .list-pane,
    .content-pane {
        border: 1px solid #ccc;
        min-height: 100%;

        a {
            cursor: pointer;
        }
    }
    .content-pane {
        padding: 20px;
    }
}
