gtx-modal {
    position: relative;
    display: block;
}

.gtx-modal-dialog {
    z-index: 1000;

    .modal-content.nopad {
        padding: 0;
    }

    > .modal-footer button.btn {
        margin: 5px;
    }
}
