// wrap import so they won't apply globally

gtx-select {
    // Remove Focus Boxes
    select:focus {
        outline: $select-focus;
      }
}

gtx-button {
    button:focus {
        outline: none;
        background-color: $button-background-focus;
      }
}

gtx-input {
    label {
        font-size: $label-font-size;
        color: $input-border-color;
    }
    @import 'input-fields';
}
gtx-radio-button {
    @import 'radio-buttons';
}
gtx-checkboxe {
    @import 'checkboxes';
}
gtx-select {
    @import 'select';
}
gtx-file-drop-area,
gtx-file-picker {
    @import 'file-input';
}
gtx-range {
    @import 'range';
}
@import 'switches';
