<div class="range-field">
    <input type="range"
           [disabled]="disabled || readonly"
           [attr.max]="max"
           [attr.min]="min"
           [attr.name]="name"
           [readonly]="readonly"
           [required]="required"
           [attr.step]="step"

           [attr.id]="id"

           (blur)="onBlur($event)"
           (change)="onChangeEvent($event)"
           (focus)="onFocus($event)"
           (input)="onInput($event)"
           (mousedown)="onMousedown($event)"
           (mouseup)="onMouseup()"
           (mousemove)="onMousemove($event)"

           #input
    >
    <span class="thumb"
          [class.hidden]="!thumbLabel"
          [class.active]="active"
          [style.left]="thumbLeft">
        <span class="value">{{ currentValue }}</span>
    </span>
</div>
<label [attr.for]="id">{{ label }}</label>
