<h3>Form Components</h3>

<h4>InputField</h4>
<p>
    InputFields can be of type <code>text</code>, <code>number</code> or <code>password</code>. If no
    type is specified, it will default to <code>text</code>.
</p>
<p>
    An InputField may have a label and/or a placeholder. If there is a label and no placeholder, the
    label will shift on focus. If there is both a label <em>and</em> a placeholder, the label will
    always be above the input.
</p>
<div class="row">
    <div class="col s4">
        <gtx-input label="Text Input Label"></gtx-input>
    </div>
    <div class="col s4">
        <gtx-input placeholder="Number Input Placeholder"
                   type="number" min="0" max="100" step="5"></gtx-input>
    </div>
    <div class="col s4">
        <gtx-input placeholder="Password Input Placeholder"
                   label="Password Input Label"
                   type="password"></gtx-input>
    </div>
</div>

<h4>Textarea</h4>
<p>
    Like InputFields, Textareas can have a label and/or a placeholder, which interact in the same was as with InputFields.
    Textarea will also automatically grow to accommodate its content.
</p>
<gtx-textarea label="Textarea Label"></gtx-textarea>

<h4>Select</h4>
<p>
    The select component also supports multiple select and option groups.
</p>

<div class="row">
    <div class="col s8">
        <gtx-select label="Basic Select" [(ngModel)]="selectVal">
            <option *ngFor="#item of options" [value]="item">{{ item }}</option>
        </gtx-select>
    </div>
    <div class="col s4">
        Value: {{ selectVal | json }}
    </div>
</div>

<p>
    When working with multiple selects, the inputs and outputs are of type <code>string[]</code>:
</p>

<div class="row">
    <div class="col s8">
        <gtx-select label="Multiple Select" [(ngModel)]="selectMultiVal" multiple="true">
            <option *ngFor="#item of options" [value]="item">{{ item }}</option>
        </gtx-select>
    </div>
    <div class="col s4">
        Value: {{ selectMultiVal | json }}
    </div>
</div>

<div class="row">
    <div class="col s8">
        <gtx-select label="Select With Option Groups" [(ngModel)]="selectGroup" >
            <optgroup label="Foos">
                <option value="foo1">Foo 1</option>
                <option value="foo2">Foo 2</option>
            </optgroup>
            <optgroup label="Bars">
                <option value="bar1">Bar 1</option>
                <option value="bar2">Bar 2</option>
            </optgroup>
        </gtx-select>
    </div>
    <div class="col s4">
        Value: {{ selectGroup | json }}
    </div>
</div>

<h4>Range</h4>
<p>
    The range input can have <code>min, max, step</code> attributes. In the example below,
    min="-180"; max="180"; step="5".
</p>
<div class="row">
    <div class="col s8">
        <gtx-range [(ngModel)]="rangeVal" step="5" min="-180" max="180"></gtx-range>
    </div>
    <div class="col s4">
        Value: {{ rangeVal | json }}
    </div>
</div>
<p>
    A readonly or disabled range input will not be draggable, but the value can be set dynamically.
</p>
<div class="row">
    <div class="col s8">
        <gtx-range [(ngModel)]="rangeValDynamic" readonly="true"></gtx-range>
    </div>
    <div class="col s4">
        <gtx-input [(ngModel)]="rangeValDynamic" type="number" min="0" max="100" step="1"></gtx-input>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
