gtx-demo-block {
    @extend .z-depth-1;
    display: block;
    margin-bottom: 50px;
    .demo-title {
        padding: 10px;
        border-bottom: 1px solid $gtx-color-light-gray;
    }
    .demo-body {
        padding: 10px 20px 30px 20px;
    }
    .code-wrapper {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s;
    }
}
