gtx-demo-block {
    // @extend .z-depth-1;
    display: block;
    margin-bottom: 50px;
    border: 1px solid lighten($gtx-color-secondary, 10%);

    .demo-title {
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        border-bottom: 1px solid $gtx-color-light-gray;
        background-color: lighten($gtx-color-secondary, 10%);
    }
    .demo-title > * {
        vertical-align: middle;
    }

    .demo-body {
        padding: 20px 20px 30px 20px;
        position: relative;
    }

    .demo-body .vertical {
        height: 135px;
    }

    .code-wrapper {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s;

        pre {
            margin-top: 0;
        }
    }
}
