gtx-contents-list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;

    > .item-avatar {
        border: 1px solid #eee;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        text-align: center;

        > * {
            line-height: 42px;
        }
    }

    > .item-primary {
        flex: 1;
        padding: 0 5px 0 10px;
    }

    .show-on-hover {
        filter: grayscale(70%);
        opacity: 0.1;
        transition: opacity 0.1s, filter 0.1s;
    }
    &:hover {
        .show-on-hover {
            opacity: 1;
            filter: grayscale(0%);
        }
    }
}
