gtx-top-bar {
    display: block;

    > .content {
        @extend .container;
        // @include flex-grid-column(12);
        // @include flex-grid-row(12);
        // @include grid-column-offset(1);

        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media #{$large-and-up} {
            justify-content: flex-start;
        }

        > *:not(.content-right) {
            display: inline-block;
            flex: 1;
            @media #{$medium-and-down} {
                text-align: center;
            }
        }

        > .content-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > * {
                display: inline-block;
            }
        }
    }
}
