gtx-top-bar {
    display: block;

    > .content {
        @extend .container;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media #{$medium-and-down} {
            justify-content: flex-end;
        }

        > *:not(.content-right) {
            display: inline-block;
            flex: 1;
            @media #{$medium-and-down} {
                text-align: center;
            }
        }

        > .content-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > * {
                display: inline-block;
            }
        }
    }
}
