gtx-top-bar {
    display: block;

    > .content {
        @extend .container;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media #{$large-and-up} {
            justify-content: flex-start;
        }

        > *:not(.content-right) {
            display: inline-block;
            flex: 1 1 auto;
            @media #{$medium-and-down} {
                text-align: center;
            }
        }

        > .content-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > * {
                display: inline-block;
            }
            .github-logo {
                height: 32px;
            }
        }
    }
}
