<nav [class.disabled]="isDisabled">
    <div class="nav-wrapper">

        <a class="back-button" *ngIf="backLink && backLink.route"
            (click)="onLinkClicked(backLink, $event)"
            [routerLink]="backLink.route"
            [title]="backLink.text"></a>
        <a class="back-button" *ngIf="backLink && !backLink.route"
            (click)="onLinkClicked(backLink, $event)"
            [attr.href]="isDisabled ? null : backLink?.href"
            [title]="backLink.text"></a>

        <div class="other-content">
            <ng-content></ng-content>
        </div>

        <ng-template [ngIf]="links">
            <a *ngFor="let link of links"
                class="breadcrumb"
                [attr.href]="isDisabled ? null : link?.href"
                (click)="onLinkClicked(link, $event)"
                [title]="link.text"
            >{{ link.text }}</a>
        </ng-template>

        <ng-template [ngIf]="routerLinks">
            <a *ngFor="let routerLink of routerLinks"
                class="breadcrumb"
                [routerLink]="routerLink.route"
                (click)="onLinkClicked(routerLink, $event)"
                [title]="routerLink.text"
            >{{ routerLink.text }}</a>
        </ng-template>

    </div>
</nav>
