gtx-breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 1em;
    line-height: 4em;
    @include noselect;

    div.multiline:not(.multilineExpanded).is-overflowing a.breadcrumb:last-child {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .back_arrow {
        position: absolute;
        padding: 7px 10px;
        cursor: pointer;
    }

    div a.breadcrumb:not(.last):nth-child(3)::after {
        content: '\E5CC  ';
        display: inline-block;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        margin: 0 10px 0 8px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        div a.breadcrumb:not(.last):nth-child(3)::after {
            margin: 3px 10px 0 8px
        }
    }

    @media (min-width: 320px) and (max-width: 480px) {
        a.breadcrumb:not(:last-child) {
            display: none;
        }

        a.breadcrumb:last-child::before {
            content: '';
        }

        > nav > .nav-wrapper :last-child {
            display: -webkit-box !important;
        }
    }

    .ellipsis {
        width: 13px;
    }

    :not(.multiline) .ellipsis {
        pointer-events: none;
        cursor: auto;
    }

    .multiline .ellipsis {
        pointer-events: auto;
        cursor: pointer;
    }

    .nav-wrapper:not(.multiline):not(.multilineExpanded) .inner-wrapper {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .lastPart {
        overflow: hidden;
        white-space: nowrap;
    }

    .without::before {
        content: '';
    }

    .hidden {
        display: none;
    }

    .multilineExpanded .lastPart {
        display: inline;
        margin-left: 0;
        flex-wrap: wrap;
        direction: ltr;
        white-space: normal;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .multiline > .inner-wrapper {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .multilineExpanded > .inner-wrapper {
        flex-wrap: wrap;
    }

    > nav {
        display: block;
        background-color: $gtx-breadcrumbs-background-color;
        padding-left: rem-calc(15px);
        padding-right: rem-calc(15px);
        transition-duration: $gtx-breadcrumbs-animation-duration;
        transition-property: background-color;
        font-size: inherit;
        line-height: inherit;
        height: 100%;

        > .nav-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            align-content: flex-start;

            &.multiline {
                display: flex;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                > a.breadcrumb {
                    min-width: auto !important;
                    overflow-x: visible !important;
                    cursor: pointer;
                }
            }

            > * {
                vertical-align: top;
                white-space: nowrap;
            }

            .back-button {
                display: none;
            }

            .other-content {
                display: block;
                flex-shrink: 0;
                line-height: inherit;
            }

            .other-content + *::before {
                display: none;
            }

            a.breadcrumb {
                &, &::before {
                    transition-duration: $gtx-breadcrumbs-animation-duration;
                    transition-property: color;
                    color: $gtx-breadcrumbs-inactive-color;
                    line-height: inherit;
                }

                &:last-child {
                    color: $gtx-breadcrumbs-active-color;
                }

                & ~ a.breadcrumb:not(:last-child) {
                    flex-shrink: 1;
                    min-width: 0;
                    overflow-x: hidden;
                    overflow-y: visible;
                    text-overflow: ellipsis;
                }
            }
        }

    }

    > nav.disabled {
        background-color: $gtx-breadcrumbs-disabled-background-color;
        pointer-events: none;

        > .nav-wrapper .breadcrumb {
            &, &::before {
                color: $gtx-breadcrumbs-disabled-inactive-color;
                cursor: default;
            }

            &:last-child {
                color: $gtx-breadcrumbs-disabled-active-color;
            }
        }
    }
}

@media #{$small-and-down} {
    gtx-breadcrumbs > nav > .nav-wrapper {
        .back-button {
            display: block;
            cursor: pointer;

            &::before {
                content: '\E5CB';
                color: $gtx-breadcrumbs-inactive-color;
                display: inline-block;
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 25px;
                margin: 0;
                vertical-align: top;
                -webkit-font-smoothing: antialiased;
            }
        }

        .back-button ~ *,
        .back-button ~ *::before {
            display: none;
        }

        :last-child {
            display: block;
            margin-left: 10px;
        }
    }

    gtx-breadcrumbs > nav.disabled > .nav-wrapper .back-button {
        cursor: default;

        &::before {
            color: $gtx-breadcrumbs-disabled-inactive-color;
        }
    }
}
