gtx-breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 1em;
    line-height: 4em;
    @include noselect;

    > .collapse-icon {
        transition: transform 0.2s;
        padding: 15px;
        position: absolute;
        left: 66%;

        &:not(.multilineExpanded) {
            transform: rotateZ(-90deg);
        }
    }

    div.multiline:not(.multilineExpanded) a.breadcrumb:not(:nth-child(3)):not(:last-child) {
        display: none;
    }

    .back_arrow {
        line-height: 12px;
        padding: 10px;
        cursor: pointer;
    }

    div.multiline:not(.multilineExpanded) a.breadcrumb:nth-child(3)::after {
        content:'\E5CC  ';
        color: $gtx-breadcrumbs-inactive-color;
        display: inline-block;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        margin: 0;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
    }

    .ellipsis {
        margin-left: 5px;
        cursor: pointer;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .collapse-icon {
            position: relative;
            left: 0;
        }
     }

    > nav {
        display: block;
        background-color: $gtx-breadcrumbs-background-color;
        padding-left: rem-calc(15px);
        padding-right: rem-calc(15px);
        transition-duration: $gtx-breadcrumbs-animation-duration;
        transition-property: background-color;
        font-size: inherit;
        line-height: inherit;
        height: 100%;

        > .nav-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            align-content: flex-start;

            &.multiline {
                display: flex;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                > a.breadcrumb {
                    min-width: auto !important;
                    overflow-x: visible !important;
                    cursor: pointer;
                }
            }

            &.multiline.multilineExpanded {
                display: flex;
                flex-wrap: wrap;
            }

            > * {
                vertical-align: top;
                white-space: nowrap;
            }

            > .back-button {
                display: none;
            }

            > .other-content {
                display: block;
                flex-shrink: 0;
                line-height: inherit;
            }

            > .other-content + *::before {
                display: none;
            }

            > a.breadcrumb {
                &, &::before {
                    transition-duration: $gtx-breadcrumbs-animation-duration;
                    transition-property: color;
                    color: $gtx-breadcrumbs-inactive-color;
                    line-height: inherit;
                }

                &:last-child {
                    color: $gtx-breadcrumbs-active-color;
                }

                & ~ a.breadcrumb:not(:last-child) {
                    flex-shrink: 1;
                    min-width: 0;
                    overflow-x: hidden;
                    overflow-y: visible;
                    text-overflow: ellipsis;
                }
            }
        }

    }

    > nav.disabled {
        background-color: $gtx-breadcrumbs-disabled-background-color;
        pointer-events: none;

        > .nav-wrapper > .breadcrumb {
            &, &::before {
                color: $gtx-breadcrumbs-disabled-inactive-color;
                cursor: default;
            }

            &:last-child {
                color: $gtx-breadcrumbs-disabled-active-color;
            }
        }
    }
}

@media #{$small-and-down} {
    gtx-breadcrumbs > nav > .nav-wrapper {
        > .back-button {
            display: block;
            cursor: pointer;

            &::before {
                content: '\E5CB';
                color: $gtx-breadcrumbs-inactive-color;
                display: inline-block;
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 25px;
                margin: 0;
                vertical-align: top;
                -webkit-font-smoothing: antialiased;
            }
        }

        > .back-button ~ *,
        > .back-button ~ *::before {
            display: none;
        }

        > :last-child {
            display: block;
            margin-left: 10px;
        }
    }

    gtx-breadcrumbs > nav.disabled > .nav-wrapper > .back-button {
        cursor: default;

        &::before {
            color: $gtx-breadcrumbs-disabled-inactive-color;
        }
    }
}
