<div class="hidden-file-wrapper">
    <input type="file" class="hidden-file-input"
        tabindex="-1"
        [accept]="inputAccept"
        [disabled]="disabled"
        [multiple]="multiple"
        (change)="onChange($event, fileInput)"
        #fileInput
    />
</div>
<gtx-button (click)="!disabled && fileInput.click()" [disabled]="disabled"
            [size]="size" [icon]="icon"
            [type]="dropArea?.pageDragHovered ? 'success' : type"
            [flat]="flat || dropArea?.dragHovered">
    <ng-content></ng-content>
</gtx-button>
