<div class="hidden-file-wrapper">
    <input type="file" class="hidden-file-input"
        tabindex="-1"
        [accept]="_domAccept"
        [disabled]="_disabled"
        [multiple]="_multiple"
        (change)="onChange($event, fileInput)"
        #fileInput
    />
</div>
<gtx-button (click)="!_disabled && fileInput.click()" [disabled]="_disabled"
            [class.dragged-over]="dropArea && dropArea.draggedOver"
            [class.dragged-in-page]="dropArea && dropArea.fileDraggedInPage && !dropArea.draggedOver"
            [size]="_size" [type]="_type" [flat]="_flat" [icon]="_icon">
    <ng-content></ng-content>
</gtx-button>
