<div class="hidden-file-wrapper">
    <input type="file" class="hidden-file-input"
        tabindex="-1"
        [accept]="_accept"
        [disabled]="_disabled"
        [multiple]="_multiple"
        (change)="onChange($event, fileInput)"
        #fileInput
    />
</div>
<gtx-button (click)="!_disabled && fileInput.click()" [disabled]="_disabled"
            [size]="_size" [icon]="_icon"
            [type]="dropArea?.pageDragHovered ? 'success' : 'primary'"
            [flat]="dropArea?.dragHovered">
    <ng-content></ng-content>
</gtx-button>
