<div class="contents">
    <ng-content></ng-content>
</div>
<div class="input">
    <gtx-input [placeholder]="placeholder"
               [value]="query"
               (keydown)="onKeyDown($event)"
               (blur)="onInputBlur($event)"
               (change)="onInputChange($event)"></gtx-input>
</div>
<div class="clear-button" *ngIf="!hideClearButton && query && query !== ''">
    <gtx-button icon type="secondary" (click)="clear.emit(true)">
        <i class="material-icons">close</i>
    </gtx-button>
</div>
<div class="submit-button">
    <gtx-button flat (click)="doSearch()">
        <i class="material-icons">search</i>
    </gtx-button>
</div>
